header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.titulo{
    color: black; 
    font-size: 10PX;
      font-family: Arial, Helvetica, sans-serif;
    }

.logo{
    width: 60px; ;
}

.principal{
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(63, 23, 1, 0.774);
}

.compras{
display: flex;
justify-content: center;
padding: 2%;
background-color: rgba(63, 23, 1, 0.774);
}

section{
    width: 50%;
    padding: 20px;
}

.cargar{
    
    background-color: rgba(63, 23, 1, 0.774);
}

    
@media screen and (max-width: 600px){
    
.logo{
    width: 90%;
}
section{
    width: 90%;

}
}